<form method="post" action="{{ path('app_medicament_delete', {'id': medicament.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cette médicament de la liste?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ medicament.id) }}">
    <button class="btn">Supprimer</button>
</form>
