<form method="post" action="{{ path('app_patient_delete', {'id': patient.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cette patient de la liste?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ patient.id) }}">
    <button class="btn">Supprimer</button>
</form>
